.otp_banner {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  position: relative;
}

.ellipse {
  width: 600px;
  height: 400px;
  position: absolute;
  left: 0rem;
  bottom: -1.5rem;
  z-index: -1;
}
.ellipse img {
  width: 100%;
  height: 100%;
}
.person_left {
  width: 400px;
  height: 450px;
  position: absolute;
  left: 2rem;
  bottom: 0rem;
  z-index: 1;
  animation: personmoveup 4s linear infinite;
}
@keyframes personmoveup {
  50% {
    transform: translateY(1rem) rotate(3deg);
  }
}

.person_left img {
  width: 100%;
  height: 100%;
}

.paws_otp1 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 6rem;
  left: 36rem;
  right: 0;
  margin: auto;
  transform: rotate(20deg);
}

.paws_otp2 {
  width: 130px;
  height: 130px;
  position: absolute;
  top: 15rem;
  left: 25rem;
  right: 0;
  margin: auto;
  transform: rotate(20deg);
}
.paws_otp2 img {
  width: 100%;
  height: 100%;
}

.otp_container {
  background-color: rgba(255, 255, 255, 0.553);
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}
